* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.title {
    color: #426696;
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    margin: 1rem 0;
}

.figure {
    box-shadow: 10px 10px 15px black;
    max-width: 600px;
    align-items: center;
    overflow: hidden;
    margin: 1.5rem 1.25rem;
}

.figure:hover {
    transition: all 0.3s ease-in-out;
    transform: scale(1.05);
    cursor: pointer;
}
